
  <manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.donaldhanson.bluetooth.android.dhbluetoothandroid">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />


  </manifest>
  